# Output files
*.out
*.bbl
*.pdf
*.aux
*.log
*.blg
*.synctex.gz

# Extraneous files
temp.bib
ACC19refs_bk.bib

# Extraneous folders
reviews/
figures/

# Reinclude
!figures_final/FBD_tex.pdf
!figures_final/prediction_horizon_geo.pdf
